### Python fundamentos
* Variables
* Tipos de datos
    - Strings
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas
* Operadores
    - Matemáticos
    - Comparación
    - Lógicos
* Estructuras de control
    - Condicionales
    - Ciclos finitos
    - Funciones

In [4]:
# variables
name = "Ada"
age = 30

In [3]:
name

'Ada'

In [ ]:
last_name = "Amarillo"

In [5]:
LastName = "Amarillo"

In [6]:
Lastname = "Amarillo"

In [7]:
LASTNAME = "Amarillo"

In [8]:
last.name = "Amarillo"

NameError: name 'last' is not defined

In [9]:
last-name = "Amarillo"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (824550936.py, line 1)

In [10]:
name

'Ada'

In [14]:
name = "Amarillo"

In [12]:
name

'Amarillo'

In [15]:
# operadares matemáticos
number1 = 10
number2 = 5

result_sum = number1 + number2
result_subtraction = number1 - number2  
result_multiplication = number1 * number2
result_division = number1 / number2

In [16]:
result_division

2.0

In [18]:
print(result_sum)
print(result_subtraction)
print(result_multiplication)    
print(result_division)

15
5
50
2.0

In [20]:
print(f"El resultado de la suma es: {result_sum}")
print(f"El resultado de la resta es: {result_subtraction}")
print(f"El resultado de la multiplicación es: {result_multiplication}")
print(f"El resultado de la división es: {result_division}")

El resultado de la suma es: 15
El resultado de la resta es: 5
El resultado de la multiplicación es: 50
El resultado de la división es: 2.0

In [1]:
# operadores de comparación
# Comparación de igualdad ==
# Comparación de desigualdad !=
# Comparación mayor que >   
# Comparación menor que <
# Comparación mayor o igual que >=  
# Comparación menor o igual que <=

In [2]:
3 == 3

True

In [3]:
3 != 3

False

In [ ]:
# condiocionales simples
# if condicional:
#    código a ejecutar si la condición es verdadera

In [4]:
# condicional simple
if 3 == 3:
    print("La condición es verdadera")

La condición es verdadera

In [ ]:
day = "Lunes"

if day == "Lunes":
    print("Hoy es lunes")

Hoy es lunes

In [6]:
day = "lunes"

if day == "Lunes":
    print("Hoy es lunes")

In [10]:
day = input("Ingrese el día de la semana: ")

if day == "Lunes":
    print("Hoy es lunes")
else:
    print("Hoy no es lunes")

Hoy no es lunes

In [12]:
# condicionales encadenados para el fin de semana
day = input("Ingrese el día de la semana: ")

if day == "sábado":
    print("Hoy es sábado")
elif day == "domingo":
    print("Hoy es domingo")
else:
    print("Hoy no es sábado ni domingo")

Hoy es domingo

In [13]:
# condicionales anidados
day = input("Ingrese el día de la semana: ")
hora = input("Ingrese la hora (formato HH:MM): ")

if day == "sábado":
    if hora == "03:00":
        print("tengo que ir a clases")

tengo que ir a clases

In [14]:
# condicionales anidados
day = input("Ingrese el día de la semana: ")
hora = input("Ingrese la hora (formato HH:MM): ")

if day == "sábado":
    if hora == "03:00":
        print("tengo que ir a clases")
    else:
        print("No tengo clases a esa hora")
else:
    print("No es sábado, no tengo clases")

No es sábado, no tengo clases

In [15]:
# condicionales anidados
day = input("Ingrese el día de la semana: ")

if day == "sábado":
    hora = input("Ingrese la hora (formato HH:MM): ")
    if hora == "03:00":
        print("tengo que ir a clases")
    else:
        print("No tengo clases a esa hora")
else:
    print("No es sábado, no tengo clases")

No es sábado, no tengo clases

In [16]:
# operadores lógicos
# and (y)
# or (o)
# not (no)

In [19]:
# condicionales anidados
day = input("Ingrese el día de la semana: ")
hora = input("Ingrese la hora (formato HH:MM): ")

if (day == "sábado") and (hora == "03:00"):
    print("Hoy es sábado y tengo clases")

Hoy es sábado y tengo clases

In [20]:
True and True

True

In [21]:
True and False

False

In [23]:
# listas
names = ["jose", "maria", "pedro"]
ages = [20, 30, 25]
pesos = [60.5, 70.2, 65.0]

In [ ]:
#            0123456
#             ...-2-1
last_name = "Amarillo"

In [25]:
last_name.lower()

'amarillo'

In [26]:
last_name[2]

'a'

In [27]:
last_name[0:3]

'Ama'

In [28]:
last_name[:5]

'Amari'

In [29]:
last_name[0]

'A'

In [30]:
last_name[-1]

'o'

In [31]:
names[0]

'jose'

In [35]:
names[0:2]

['jose', 'maria']

In [41]:
names = [
    "jose",
    "maria",
    "pedro",
    "ana",
    "luis",
    "carlos",
    ]

In [37]:
names.append("juan")

In [43]:
names

['jose', 'maria', 'pedro', 'ana', 'luis', 'carlos']

In [ ]:
# tuplas
# Las tuplas son similares a las listas, pero son inmutables (no se pueden modificar una vez creadas).

In [44]:
len(names)

6

In [45]:
names.insert(1, "ruperto")

In [46]:
names

['jose', 'ruperto', 'maria', 'pedro', 'ana', 'luis', 'carlos']

In [47]:
# cambia el nombre de la posición 1 por marta
names[1] = "marta"

In [48]:
names

['jose', 'marta', 'maria', 'pedro', 'ana', 'luis', 'carlos']

In [53]:
# tupla de nombres
names_tuple = (
                "jose",
                "maria",
                "pedro",
                "ana")

In [51]:
names_tuple[1] = "marta"

TypeError: 'tuple' object does not support item assignment

In [55]:
# tuplas con numeros y caracteres
tuple_2 = (20, "pedro", 21.7)

In [57]:
tuple_2[1]

'pedro'

In [59]:
# diccionarios
dict1 = {
    "name":"jose",
    "age":20,
    "peso":90.89,
    "comidas":["pabellon", "arepa", "arroz"],
    "claves": {
                "correo":12345,
               "netflix":"clave",
               }
}

In [62]:
dict1["claves"]["correo"]

12345

In [63]:
dict1["comidas"][1]

'arepa'

In [64]:
# ciclo for
for variable in names:
    print(variable)

jose
marta
maria
pedro
ana
luis
carlos

In [67]:
len(names)

7

In [77]:
# buscar a jose en el conjunto de datos
for name in range(len(names)):
    if names[name] == 'luis':
        print(f"Encontre a jose en la posicion {name}")
        break

Encontre a jose en la posicion 5